[Unit]
Description=Raspberry Pi Manager.
After=syslog.target

[Service]
WorkingDirectory=/home/pi
User=pi
ExecStart=/home/pi/.local/bin/uwsgi --ini /etc/raspi_manager/uwsgi_production.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
