[Unit]
Description=Raspberry Pi Manager.
After=network-online.target
Requires=network-online.target

[Service]
WorkingDirectory=/etc/raspi_manager/
User=christian
ExecStart=/home/christian/.local/bin/uwsgi --ini uwsgi_production.ini
Restart=always

[Install]
WantedBy=multi-user.target